@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype');
}

html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

#app {
  background: #498cec;
  color: white;
  height: 100vh;
  padding: 7.5rem 10rem;
}

#app > div:not(.vue-notification-group) {
  height: 100%;
}

.d-flex {
  display: flex;
}

.text--1 {
  font-size: 1.8rem;
  opacity: 0.6;
}

.vue-notification-template {
  position: relative;
  top: 5px;
  border-left: none !important;
  border: 2px solid white !important;
}

.notification-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #app {
    padding: 2rem;
  }

  .text--1 {
    font-size: 1.5rem;
    opacity: 0.6;
  }
}
